<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--     <event name="controller_action_catalog_product_save_entity_after">
         <observer name="Perficient_Obevent_Model_Observerx" instance="Perficient\Obevent\Model\Observerx" />
     </event>

    <event name="customer_login">
        <observer name="Perficient_Obevent_Customer" instance="Perficient\Obevent\Observer\CustomerLogin"
                  shared="false"/>
    </event>-->

    <event name="checkout_submit_all_after">
        <observer name="Perficient_Obevent_Model_Custominvoice" instance="Perficient\Obevent\Observer\Custominvoice" />
    </event>
<!--custom event call-->
    <event name="gallery_index_visit">
        <observer name="Perficient_Obevent_Model_Login" instance="Perficient\Obevent\Observer\CustomerLogin" />
    </event>

</config>