<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="customcron" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Scheduled Custom Cron</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Enable Custom crone</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="time" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Start Time</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="frequency" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Frequency</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Perficient\CronExample\Model\Config\Source\Frequency</source_model>
                    <backend_model>Perficient\CronExample\Model\Config\Backend\Cron</backend_model>
                </field>

                <field id="minutes" type="select" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <depends>
                        <field id="enabled">1</field>
                        <field id="frequency">I</field>
                    </depends>
                    <label>Minutes</label>
                    <source_model>Perficient\CronExample\Model\Config\Source\Minutes</source_model>
                </field>

                <field id="minofhours" type="text" translate="label" showInStore="0" showInDefault="1" showInWebsite="0"
                       sortOrder="60">
                    <depends>
                        <field id="enabled">1</field>
                        <field id="frequency">H</field>
                    </depends>
                    <label>Minutes Of Hours</label>
                    <comment>Valid range: 0-59 (default 0).</comment>
                </field>
                <field id="emailsender" type="select" translate="label" showInWebsite="0" showInStore="0"
                       showInDefault="1" sortOrder="70">
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="receiveremail" translate="label" type="text" showInDefault="1" sortOrder="80"
                       showInWebsite="0" showInStore="0">
                    <label>Receiver Email</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>


                <field id="comments" translate="label" type="textarea" showInDefault="1" sortOrder="90"
                       showInWebsite="0" showInStore="0">
                    <label>Email Contents</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>


            </group>
        </section>
    </system>
</config>
